* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.dateShown{
    margin: 0;
}
.formContainer{
    width: 300px;
    margin: 0;
    margin-left: 0;
    border: 0px;
}
.stockQuoteForm{
    border: 0;
    margin: 0;
}
.stockQuoteP{
    margin: 0;
    color: #4f7942;
    font-size: 20px;

}
input[type=text] {
    font-size: 15px;

}
.stockSymbolInput{
    margin: 0;
    width: 135px;
    height: 35px;
    font-size: 5px;
    
    text-align: center;
    color: #4f7942;
}
input {
    margin-left: 15px;
    width: 90%;
    border: 2px solid #4f7942;
    color:#4f7942;
    font-size: 35px;
}
::placeholder {
    color: #4f7942;
    font-size: 20px;
    opacity: 1; /* Firefox */
  }

