/* Home.js page styling */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: white;
    }
.mainContentContainer{
color: #379683;
background-color: white;
}
.ui.column.grid>[class*="eight wide"].column,
.ui.grid>.column.row>[class*="eight wide"].column,
.ui.grid>.row>[class*="eight wide"].column,
.ui.grid>[class*="eight wide"].column {
  padding: 0;
}
.videoPlayer{
  height: 500px;
}
/* home page welcome container styling */

.welcomeContainer{
  margin-left: 10px;
    width: 95%;
    height: auto;
  font-size: 30px;
  color: #2e8b57;
  font-weight: bold;
  text-align: center;
  }
 .timeContainer{
   font-size: 30px;
    margin-left: 15px;
    width: 95%;
    height: auto;
    color: #00a86b;
    text-align: center;
  }
.weatherContainer{
 color: #00a86b;
 text-align: center;
 font-size: 25px;
}
.stockMarketContainer{
  color: #00a86b;
  text-align: center;
  font-size: 25px;
}
.headlineContainer{
  color: #2e8b57;
font-weight: bolder;
font-size: 25px;
text-align: center;
}
.ui.column.grid>[class*="four wide"].column,
.ui.grid>.column.row>[class*="four wide"].column,
.ui.grid>.row>[class*="four wide"].column,
.ui.grid>[class*="four wide"].column{
    padding: 0;
}
.reactPlayerContainer{
  margin-left: 15px;
}
/* home page events styling */
.homePageEventsContainer{
    width: 100%;
    height: 250px;
    font-weight: bolder;
    font-size: 20px;
      overflow-y:auto
}

.homePageEventTitle{
  height: 40px;
  font-size: 25px;
  color: #2e8b57;
  font-weight: bold;
text-align: center;

}
.homePageEventsListContainer
{
margin: 0;
border: 0;
}
.homePageEventsListContainer{
  font-size: 15px;
  color: #379683;
  margin: 10px;
  padding: 0;
  border-bottom: solid 1px #379683;
}
.homePageEventListEachContainer{
  font-size: 15px;
  color: #379683;
  margin: 0;
}

.eventsPageLinkContainer{
  text-align: center;
}
.eventsPageLink{
    font-size: 19px;
    text-decoration: underline;
    display: block; 
}
/* home page todos styling */
.homePageTodosContainer{
  width: 100%;
  height: 250px;
  font-weight: bolder;
  font-size: 20px;
  overflow-y:auto
}
.homePageTodoTitle{
height: 40px;
font-size: 25px;
color: #2e8b57;
font-weight: bold;
text-align: center;
}
.homePageTodosListContainer
{
border-bottom: solid 1px #379683;
}
.homePageTodosListContainer{
font-size: 15px;
color: #379683;
margin: 10px;
padding: 0;
}
.homePageTodoListEachContainer{
font-size: 15px;
color: #379683;
margin: 0;
}
.todosPageLinkContainer{
text-align: center;
}
.todosPageLink{
  font-size: 19px;
  text-decoration: underline;
  display: block; 
}

/* home page websites styling */

.homePageWebsiteTitle{
height: 40px;
font-size: 25px;
color: #2e8b57;
font-weight: bold;
text-align: center;

}
.websitesPageLinkContainer{
  text-align: center;
  }
  .websitesPageLink{
    font-size: 19px;
    text-decoration: underline;
    display: block; 
  }
.homePageWebsitesContainer{
margin: 0;
border: 0;
text-align: center;
height: 700px;

margin-right: 22px;
margin-left: 20px;
overflow-y:auto;
}

.homePageUserFavoriteWebsiteButton{
  background-color: #379683;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 2px 4px;
  cursor: pointer;
  border-radius: 12px;
  width: 220px;
}
a:hover{
  color: #c7ea46;
}


