@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: white;
    
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    width: 6.25%;
padding: 0;
    vertical-align: top;
}
.eventPageEventsContainer{
    background-color: white;
}
.eventPageEventsTitle{
    font-size: 50px;
    color: #444C38;
    height: 80px;
    text-align: center;
 
    background-color: white;
}
.addEventButton{
margin-right: 300px;
    float: right;
    padding: 45px;
    width: 250px;

}
.eventModalButton{
    margin-right: 300px;
    float: right;
    padding: 19px;
    width: 250px;
}

.eventsListShownContainer{
font-size: 10px;
    height: auto;
  color: #4F7942;
  background-color: white;
   margin-bottom: 10px;
   margin-left: 80px;
}
.eventListEachContainer{
    font-size: 20px;
    width: 80%;
    color: #4F7942;

}
.eventPageIndividualEventsContainer{
    color: #4F7942;
}


.eventListContainerDeleteButton{
    font-size: 15px;
    color: #444c38;
    background-color: #edf5e1;
    margin-left: 23px;
}
.eventListContainerDeleteButton:hover{
    color: #c7ea46;
    }

.newEventTitle{
    font-size: 30px;
    color: #444C38;
    height: 80px;
    text-align: center;
  padding:30px;
 margin-right: 60px;
    background-color: white;
    font-weight: bolder;
  }
.newEventContainer{
margin-right: 75px;
border: solid 1px #4F7942;
}
.newEventDataTitle{
    font-size: 20px;
    color: #4cbb17;
    border-left: 0;
    margin-left: 23px;
font-weight: bolder;

}
#newEventDateInputId{
    font-size: 20px;
    color: #0b6623;
border: 1px solid #4F7942;
}
#newEventTimeInputId{
font-size: 20px;
    border: 1px solid #4F7942;
}
#newEventTitleInputId{
    font-size: 20px;
    border: 1px solid #4F7942;

}
.newEventNoteInput{

    border: 0;
}
#newEventNoteTextAreaId{
    font-size: 20px;

     margin-left: 25px;
    height: 100px;
    width: 442px;
    border: 1px solid #4F7942;
}

.newEventSubmitButton{
    font-size: 25px;
    color: #444c38;
    background-color: #edf5e1;
  margin: 5px;
 margin-left: 25px;
}
.newEventSubmitButton:hover{
    color: #c7ea46;
  }
/* events page footer styling */

i.far.fa-copyright::before {
    color: #2e8b57;
    background-color:#EDF5C1;
  }
  footer h5 {
      font-size: 15px;
      line-height: 10px;
      color: #ffffff;
      text-align: center;
      background: #EDF5C1;
  }
  
  .footer{
    padding: 5px;
    border-top: solid 2px #2e8b57;
  width: 100%;
  background: #EDF5C1;
  color: #2e8b57;
  text-align: center;
  position: fixed;
  bottom: 0;
  }
