body{
    background-color: #EDF5E1;
}

.googleHeadlinesContainer{
    height: 710;
    overflow-y:auto;
}
.individualHeadlineContainer{
    border-bottom: 1px solid #444c38;
}
a.headlineLink{
    font-size: 15px;
    color: #00a86b;
}