body{
    background-color: #EDF5E1;
}

.googleHeadlinesContainer{
    height: auto;
}
.individualHeadlineContainer{
    border-bottom: 1px solid lightgrey;
}
a.headlineLink{
    font-size: 15px;
    color: #00a86b;
}