body{
    background-color: #EDF5E1;
}
.loginFormTitle{
    font-size: 25px;
    text-align: center;
    padding: 15px;
   
    font-weight: bolder;
}
.formContainer{
width: 100%;

}

p{
    margin:0px;
  margin-left: 25px;
 color: #4f7942;
    font-size: 25px;
    padding: 0px;

}
input{
    margin-left: 25px;
    width: 90%;
    border: 2px solid grey;
    color: #4f7942;
 font-size: 35px;
  
}
form{
    border: 6px solid #379683;
    width: 500px;
}
.submitButtonContainer{
    padding: 15px;
}
button{
    margin-left: 10px;
    color: #05386B;
    font-size: 25px;
    padding: 5px;
}
input[type=text]{
    font-size: 25px;
    height: 35px;
}
input[type=text]:not(textarea){
    height: 55px;
    color: #4f7942;
}

input[type=password]:not(textarea){
    height: 55px;
    color: #4f7942;
}

.newUserButton{

    float: right;
    margin-right: 20px;    
}

#newUserButtons{
    display: inline-block;
   
    font-size: 25px;
    color: #444c38;
    background-color: #edf5e1;
    margin: 5px;
    margin-left: 25px;
}
#newUserButtons:hover{
    color: #c7ea46;
}
a.newUserLink{
    color: #444c38;
}
.userLoginSubmitButton{

font-size: 25px;
color: #444c38;
background-color: #edf5e1;
margin: 5px;
margin-left: 25px;

}
.userLoginSubmitButton:hover{
color: #c7ea46;
}
.newUserButton{
 float: right;
 background-color: #edf5e1;
}